.game-link {
  display: flex;
  padding: 10px;
  margin: 5px 0;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
  transition: all 200ms ease;
  &:hover {
    scale: 1.01;
  }
}
