<form *ngIf="!data.multiple" class="p-5 rtl"  [formGroup]="form" (ngSubmit)="store()">
  <p class="f-22">{{data.type === 'person' ? 'הוסף חייל' : 'הוסף כוח/מיקום'}}</p>
  <mat-form-field class="w-100">
    <mat-label>{{data.type === 'person' ? 'שם החייל' : 'שם הכוח/מיקום'}}:</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field class="w-100" *ngIf="data.type === 'location'">
    <mat-label>צבע:</mat-label>
    <mat-select formControlName="color">
      <mat-option *ngFor="let color of colors" [value]="color">
        {{color}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100" *ngIf="data.type === 'person'">
    <mat-label>תפקיד:</mat-label>
    <mat-select formControlName="job">
      <mat-option *ngFor="let job of jobs" [value]="job">
        {{job}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100" *ngIf="data.type === 'location'">
    <mat-label>צ':</mat-label>
    <input matInput formControlName="z">
  </mat-form-field>
  <div class="d-flex justify-content-center">
    <button mat-raised-button color="primary" type="submit" class="w-50">שלח</button>
  </div>
</form>

<form *ngIf="data.multiple" [formGroup]="form" (ngSubmit)="store()" class="p-5 rtl">
  <p class="f-22">{{data.type === 'person' ? 'הוסף חיילים' : 'הוסף כוחות/מיקומים'}}</p>
  <mat-form-field class="w-100">
    <mat-label>הכנס דאטה:</mat-label>
    <textarea matInput
              placeholder="הכנס דאטה"
              formControlName="list">
    </textarea>
  </mat-form-field>
  <div class="d-flex justify-content-center">
    <button mat-raised-button color="primary" type="submit" class="w-50">שלח</button>
  </div>
</form>

