<div class="container" (ctrlZ)="undo()" (ctrlY)="redo()" (ctrlShiftZ)="redo()">
  <div class="d-flex">
    <button (click)="getTime()" class="m-2 button-layout bg-light-blue text-black">
      get date
    </button>
    <button (click)="resetRecentChanges(sadakElements)" class="m-2 button-layout bg-light-blue text-black">
      reset changes
    </button>
    <button (click)="saveState()" class="m-2 button-layout bg-light-blue text-black">
      save current state
    </button>
  </div>
  <div class="d-flex">
    <div class="d-flex align-items-center" *ngFor="let key of localStorageKeys">
      <button class="m-2 button-layout bg-light-blue text-black" (click)="loadState(key)">
        {{ key }}
      </button>
      <i class="bi bi-trash pointer round-button-layout bg-light-red mx-2" (click)="deleteState(key)"></i>
    </div>
  </div>
  <div class="rtl d-flex align-items-center f-22 fw-700 my-4">
    סה"כ חיילים - {{ people.length }}
  </div>
  <div class="rtl d-flex align-items-center f-22 fw-700 my-4">
    שינויים אחרונים צבועים באדום -
    <div class="mx-2 updated-template"></div>
  </div>
  <div class="rtl f-22 fw-700 my-4">עודכן לאחרונה ב: {{lastUpdate}} </div>
  <div class="titles">
    <div class="title col-3 rtl p-2 d-flex"
         [id]="title.id"
         cdkDrag
         (cdkDragEnded)="onDragEnd($event)"
         (cdkDragStarted)="onDragStart($event)"
         [ngClass]="{
         'bg-green': title.name.length === 1 || title.name.length === 2,
          'bg-blue': title.name === 'בבית',
           'bg-grey5': title.name === 'גדוד',
            'bg-light-yellow': title.name === 'דלתון'}"
         *ngFor="let title of titles">
      <div class="d-flex w-100"
           [ngClass]="title.z
           ? 'justify-content-between'
           : 'justify-content-center'">
        <span class="fw-700 f-24 mx-2">{{ title.name }}</span>
        <span *ngIf="title.z">{{' צ: ' + title.z }}</span>
      </div>
    </div>
  </div>
  <div #sadakElements class="sadak">
    <div #personElement
         class="people"
         [id]="person.id"
         *ngFor="let person of people"
         cdkDrag
         (click)="markChangedPerson(personElement)"
         (cdkDragEnded)="onDragEnd($event)"
         (cdkDragStarted)="onDragStart($event)">
      {{ person.name }} - {{ person.job }}
    </div>
  </div>
</div>
