.titles {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

div {
  position: relative;
}

.flicker {
  animation: flick 1.2s 5;
}

@keyframes flick {
  10%   { opacity:1; }
  50%  { opacity:.5; }
  100% { opacity:1; }
}

.crud-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  padding: 10px;
  opacity: 0;
  bottom: 0;
  transition: all ease .2s .5s;
  z-index: -1;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  color: #1e1e1e;
  opacity: 0;
  transition: all ease .2s .5s;
  z-index: -1;
}

.dragged {
  scale: 1.2;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  color: #1e1e1e;
  opacity: 0;
  transition: all ease .2s .5s;
  z-index: -1;
}

.drawn-box {
  position: absolute;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.title {
  display: flex;
  justify-content: center;
  height: 150px;
  background: #c1c1c1;
  border-radius: 10px;
  border: 3px solid gray;
  margin: 5px;
  font-size: 20px;
}

.sadak {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.updated-template {
  width: 100px;
  height: 25px;
  background: #ff918c;
  border: 1px #6d8c96 solid;
}

.person {
  cursor: pointer;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  background: #cce8f3;
  border: 1px #6d8c96 solid;
  &:hover .crud-container {
    opacity: 1;
    background: #dcdcdc;
    border-radius: 20px;
    bottom: 25px;
    z-index: 3;
  }
  &:hover .edit-btn {
    opacity: 1;
    z-index: 3;
  }
  &:hover .delete-btn {
    opacity: 1;
    z-index: 3;
  }
}

@import "src/styles.scss";

.button-layout {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 2px 10px;
  border-radius: 6px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-layout:hover {
  color: #3b3b3b !important;
  background-color: $grey4 !important;
  border: 1px solid $grey2;
}

.button-layout:disabled {
  color: #696969 !important;
  border: 1px solid $grey3 !important;
  background-color: $grey4 !important;
  box-shadow: none !important;
  cursor: default !important;
}

.button-layout:active {
  border: 1px solid $grey5;
  color: $grey3 !important;
  box-shadow: -40px -36px 70px -47px $grey4 inset;
  background-color: $grey4 !important;
  filter: drop-shadow(-.5px -.5px 2px $grey5);
}

.round-button-layout {
  position: absolute;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 35px; min-height: 35px;
  max-width: 35px; min-width: 35px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 50%;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.round-button-layout:hover {
  color: #3b3b3b !important;
  background-color: $grey4 !important;
  border: 1px solid $grey2;
}

.round-button-layout:disabled {
  color: #696969 !important;
  border: 1px solid $grey3 !important;
  background-color: $grey4 !important;
  box-shadow: none !important;
  cursor: default !important;
}

.round-button-layout:active {
  border: none;
  color: $grey3 !important;
  box-shadow: -40px -36px 70px -47px $grey4 inset;
  background-color: $grey4 !important;
  filter: drop-shadow(-.5px -.5px 2px $grey5);
}

.text-area {
  resize: none;
  width: 100%;
  height: 70px;
  padding: 0.2em 2.3em 0.2em 0.2em;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid $grey3;
  appearance: none;
  border-radius: 5px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    padding-left .15s ease-in-out,
    padding-right .15s ease-in-out;
}

.text-area:focus-visible {
  border: 1px solid $grey3;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.text-area:disabled {
  background-color: #ececec;
}

.input {
  resize: none;
  width: 100%;
  height: 35px;
  padding: .2em;
  font-size: .8em;
  line-height: 1.5;
  color: $grey;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $grey3;
  appearance: none;
  border-radius: 4px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out
}
.input:focus-visible {
  border: 1px solid $grey3;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
.input:disabled {
  background-color: #ececec;
}
