<div cdkDrag
     cdkDragPreviewClass="tilt-item"
     (cdkDragStarted)="drag()"
     (cdkDragDropped)="drop()"
     class="d-flex px-2 align-items-center px-4 transition-all">
  <div class="grab d-flex">
    <i class="bi bi-three-dots-vertical position-relative l-2"></i>
    <i class="bi bi-three-dots-vertical"></i>
  </div>
  <div class="col-12">
    <app-game (changed)="changed($event)" [data]="{link: data.link, isAdmin: data.isAdmin}"></app-game>
  </div>
  <div *cdkDragPlaceholder class="grabbed-link-placeholder"></div>
</div>
