.grabbed-link-placeholder {
  height: 50px;
  width: 100%;
  background: white;
  opacity: .6;
  border: #444444 dashed 2px;
  transition: all ease-in-out 200ms;
  animation: flashing 1s linear infinite;
  @keyframes flashing {
    50% {
      opacity: 0;
    }
  }
}

.tilt-item {
  animation: tilt ease-in-out 200ms infinite;
  opacity: .8;
  @keyframes tilt {
    0%		  {scale: 1; rotate: 0}
    25%	    {scale: 1.002; rotate: .1deg}
    50%	    {scale: 1; rotate: 0}
    75%	    {scale: 1.002; rotate: -.1deg}
    100%	  {scale: 1; rotate: 0}
  }
}

.cdk-drag-preview {
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2), 0px -2px 40px 0px rgba(0, 0, 0, 0.2);
  transition: none !important;
}

