.game-link {
  display: flex;
  padding: 10px;
  margin: 5px 0;
  justify-content: space-between;
  border-radius: 10px;
  transition: all 200ms ease;
  border-bottom: solid lightgray 1px;
  cursor: pointer;

  &:hover {
    scale: 1.01;
  }
}

.clicks {
  border-radius: 10px;
  background: lightgrey;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.admin-btn {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
}

.icons {
  display: flex;
  margin-right: auto;
}

.clicked {
  color: #868686;
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .game-link {
    margin: 2px 0;
    padding: 5px;
    font-size: 12px;
  }
  .game-link:hover {
    scale: unset;
  }
}
