<div class="game-link card pointer card-height" (click)="nav(data.link)" (wheelClick)="nav(data.link)">
  <img class="card-img-top img-fluid image-res" [src]="'assets/images/' + data.link.image" [alt]="data.link.name">
  <div class="card-body d-flex justify-content-between">
    <p class="card-text">  {{data.link.name}} </p>
    <p class="card-title d-flex align-items-center justify-content-start user-select-none">
      <span class="clicks f-12 f-md-10 mx-2"> {{data.link.clickCount}} </span>
    </p>
  </div>
</div>
