.game-link {
  width: 100%;
  display: flex;
  padding: 10px;
  margin: 5px 0;
  justify-content: space-between;
  border-radius: 10px;
  border-bottom: solid lightgray 1px;
  cursor: pointer;
  background: white;

  &:hover div.col-8 {
    transform: translateX(10px);
  }
}

div.col-8 {
  transition: all 100ms ease;
}

.clicks {
  border-radius: 10px;
  background: lightgrey;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.clicked {
  color: #868686;
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .game-link {
    margin: 2px 0;
    padding: 5px;
    font-size: 12px;
  }
  .game-link:hover {
    scale: unset;
  }
}
