<div class="game-link">
  <div class="d-flex col-8" (click)="nav(data.link)" (wheelClick)="nav(data.link)">
    <section class="d-flex mx-1 col-10 user-select-none">
      <span class="fw-bold" [ngClass]="{'clicked' : data.link.clicked}">
        {{data.link.name}}
      </span>
      <span class="d-md-block d-none"
            [ngClass]="{'clicked' :data.link.clicked}"> - {{data.link.description}}</span>
    </section>
  </div>
  <section class="d-flex align-items-center justify-content-end col-4 user-select-none">
    <div class="d-flex">
      <i *ngFor="let subCategory of data.link.subCategory" [class]="setSubCategory(subCategory)"></i>
    </div>
    <span class="clicks f-12 f-md-10 mx-2"> {{data.link.clickCount}} </span>
  </section>
</div>
